// Make sure the charset is set appropriately
@charset "UTF-8";
@import "foundation/functions";

$gray: #555;
$gray-light: lighten($gray, 30%);
$gray-lighter: lighten($gray, 60%);

$primary-color: #ED1C24;
$secondary-color: #e7e7e7;
$alert-color: #f04124;
$success-color: #43AC6A;
$warning-color: #f08a24;
$info-color: #a0d3e8;

//$body-bg: darken(#fff, 3%);
$body-font-family: open-sans-condensed, sans-serif;
$base-font-size: 120%;
$base-line-height: 1.7;

$paragraph-font-family: open-sans, $body-font-family;

$code-font-family: inconsolata, Menlo, monospace;
$code-font-family: anonymous-pro, serif;
//$code-font-family: droid-sans-mono, serif;
$code-font-weight: normal;
$code-color: $gray-light;

$row-width: rem-calc(640);
$row-width: 640px;

$h1-font-size: rem-calc(64);

$red-border: 1px solid $primary-color;
$gray-border: 1px solid $gray-lighter;

$out-margin: 30px;

@import "shared";