<!doctype html>
<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/html">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title>{meta.title}</title>

	<!--<link rel="stylesheet" href="{resourcePath}/Library/foundation-5.1.1/css/foundation.css" />-->
	<link rel="stylesheet" href="{resourcePath}/Stylesheets/main.css" />

	<script src="{resourcePath}/Library/foundation-5.1.1/js/vendor/modernizr.js"></script>
	<script src="//use.edgefonts.net/open-sans-condensed:n3,i3;open-sans:n3,i3;inconsolata:n5,n7.js"></script>
	<script src="//use.edgefonts.net/anonymous-pro:n4,i4,n7,i7.js"></script>
</head>
<body>

<nav class="top-bar" data-topbar>
	<ul class="title-area">
		<li class="name">
			<h1><a href="/">NoShi</a></h1>
		</li>
		<li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
	</ul>

	<section class="top-bar-section">
		<!-- Right Nav Section -->
		{Cundd\Noshi\Ui\Menu}
	</section>
</nav>


<div class="row">
	<div class="large-12 columns content">
		{content}
	</div>
</div>


<footer>
	<div class="row">
		<div class="footer-content">
			<p>&copy; <a href="http://www.cundd.net/">cundd</a> 2014</p>
		</div>
	</div>
</footer>

<script src="{resourcePath}/Library/foundation-5.1.1/js/vendor/jquery.js"></script>
<script src="{resourcePath}/Library/foundation-5.1.1/js/foundation.min.js"></script>
<script>
	jQuery(document).foundation();
</script>

<!--<script type="application/javascript">-->
<!--jQuery.getScript('https://raw.github.com/cundd/CunddAssetic/feature/auto-refresh/Resources/Public/JavaScript/Assetic.js', function() { setTimeout(function() { Assetic.init(); Assetic.start(); }, 700) })-->
<!--</script>-->

<!-- Piwik -->
<script type="text/javascript">
	var _paq = _paq || [];
	_paq.push(["trackPageView"]);
	_paq.push(["enableLinkTracking"]);

	(function() {
		var u=(("https:" == document.location.protocol) ? "https" : "http") + "://piwik.cundd.net/";
		_paq.push(["setTrackerUrl", u+"piwik.php"]);
		_paq.push(["setSiteId", "9"]);
		var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
		g.defer=true; g.async=true; g.src=u+"piwik.js"; s.parentNode.insertBefore(g,s);
	})();
</script>
<!-- End Piwik Code -->

</body>
</html>
